body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: black;
  color: white;
  font-family: 'Press Start 2P', monospace;
}

#loading-message {
  position: absolute;
a  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: white;
}
